*{
    margin: 0;
    padding: 0;
}


.mynav h1{
    font-family: "Open Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: #31ff7a;
    padding-top: 120px;
    padding-bottom: 0;
    font-size: 65px;
}
.mynav p {
    text-align: center;
    font-size: 50px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: bold;
    font-family:"Sulphur Point",sans-serif;
}



.mynav{
   background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(/static/img/home4.jfif);
   height: 550px;
   background-size: cover;

  }


.navbar .navbar-brand:hover{
    color:#fff;
}

.navbar .navbar-brand{
    margin-top: 30px;
    color: red;
    letter-spacing: 2px;
    font-weight: bolder;
    padding-left: 10%;
    font-size:2.3em;
}

.navbar .navbar-nav{
    margin-top: 30px;
}

.navbar .nav-item a:hover{
    color: orange !important;


}
.navbar .nav-item a{
    font-size: 20px;
    color: #fff !important;
    letter-spacing: 1px;    
}

/* features */

.features{
    padding: 100px;
}

.card-body h2{
    font-weight: 800;
    line-height: 1;
    color: darkred;
}
.card h3{ 
    font-weight: 300;
    font-size: 20px;
    font-family: "Open Sans";
}

.card p{ 
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
    color: #6c757d;
    font-family: "Lora";
}

h1{
    text-align: center !important;
    padding-bottom: 30px !important;
    color: darkred;
    font-family: cursive;
}

.feature-img img{
    width: 100%;
}


.footer{
    padding: 100px 20px 15px;
    background-image: linear-gradient(#2d557d,#9610fb);
    /*background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(/static/img/section.jpg);*/
    color: #fff;
}

.footer-logo{
    width: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer h4{
    text-align: left;
    margin-top: 15px;
    margin-bottom: 25px;
}

.footer p{
    font-size: 12px;
    text-align: justify;
    padding-right: 35px;
}

.footer .row .fa{
    padding-right: 20px;
    font-size: 15px;
}

.footer hr{
    margin-top: 10px;
    background: #efefef;
}
.fa-heart{
    margin: 0 5px;
    color: #f44336;
}
