{% extends "base.html" %}

{% block title %}Create Post|Flask-Blog{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/createPost.css') }}">
{% endblock %}

{% block content %}
  <section class="features">
    <h1> Create Here </h1>
    <div class="container my-3">
      <h2>Add a Post</h2>
      <form action="/create_post" method="POST">
        <div class="mb-3">
          <label for="title" class="form-label">Post Title</label>
          <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp"> 
        </div>
        <div class="mb-3">
          <label for="content" class="form-label">Post Content</label>
          <input type="text" class="form-control" name="content" id="content">
        </div>

        <button type="submit" class="btn btn-dark">Post</button>
      </form>
    </div>
  </section>
{% endblock %}