{% extends "base.html" %}
{% block title %}Posts|Flask-Blog{% endblock %}

{% block head %}
    {{ super() }}
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/userPost.css') }}"> -->
{% endblock %}


{% block content %}
  <section class="features">
    <h1> Post Listings</h1>
    <div class="container">
      <div class="row">
        {% if user_posts: %}
          {% for each_post in user_posts: %}
            <div class="col-sm-6 mb-3">
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title" style="font-weight: 800;line-height: 1;">{{each_post.post_title}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted" style="font-weight: 300;font-size: 20px;font-family: Open Sans;">{{each_post.post_subtitle}}</h6>
                  <p class="card-text" style="font-weight: 200;line-height: 1;">{{each_post.post_content[:50]}}...</p>
                  <p class="post-meta" style="font-size: 18px;font-style: italic;margin-top: 0;color: #6c757d;font-family: Lora;">Posted by {{each_post.user.fullName}} on {{each_post.created_date.strftime("%B %d, %Y ")}}</p>
                  <a href="/update_post/{{each_post.post_id}}" type="button" class="btn btn-warning">Update</a>
                  <a href="/delete_post/{{each_post.post_id}}" type="button" class="btn btn-danger">Delete</a>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="alert alert-warning">
            Looks like you haven't created a post yet 
            <button type="button"class="close"data-dismiss="alert" style="padding-left:90px">x</button>
        </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endblock %}
<!-- 
{% for each_post in user_posts: %}
            <h2 class="post-title">{{each_post.post_title}}</h2>
            <h3 class="post-subtitle">{{each_post.post_content}}...</h3>
            <p class="post-meta">Posted by {{each_post.user.fullName}} on {{each_post.created_date.strftime("%B %d, %Y ")}}</p>
            <a href="/update_post/{{each_post.post_id}}" type="button" class="btn btn-dark">Update</a>
            <a href="/delete_post/{{each_post.post_id}}" type="button" class="btn btn-dark">Delete</a>
            <hr>
          {% endfor %} -->