{% extends "base.html" %}

{% block title %}Sign Up|Flask-Blog{% endblock %}

{% block head %}
    {{ super() }}
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}

{% block content %}
  <section class="features">
    {% for message in get_flashed_messages() %}
      {% if message %}
        <div class="alert alert-warning">
        <button
        type="button"
        class="close"
        data-dismiss="alert">
        x
        </button>
        {{ message }}
        </div>
      {% endif%}
    {% endfor %}
    <h1>Sign Up </h1>
    <div class="row">
      <div class="container my-3">
        <div class="col-md-8 col-lg-6 col-xl-4" style="margin-left: 34%;">
          <form action="/signUp" method="POST">
            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
              <p class="lead fw-normal mb-0 me-3">Sign up with:</p>
            </div>
            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0">Or</p>
            </div>
            <div class="mb-3">
              <label for="title" class="form-label">Name</label>
              <input type="text" class="form-control" placeholder="Enter Name" name="name" id="name"> 
            </div>
            <div class="mb-3">
              <label for="title" class="form-label">Username</label>
              <input type="text" class="form-control" placeholder="Enter Username" name="username" id="username"> 
            </div>
            <div class="mb-3">
              <label for="content" class="form-label">Email</label>
              <input type="text" class="form-control" placeholder="Enter Email" name="email" id="email">
            </div>
            <div class="mb-3">
              <label for="content" class="form-label">Password</label>
              <input type="password" class="form-control" placeholder="Enter Password" name="password" id="password">
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <!-- Checkbox -->
              <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                <label class="form-check-label" for="form2Example3">Remember me</label>
              </div>
              <a href="#!" class="text-body">Forgot password?</a>
            </div>
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg"style="padding-left: 2.5rem; padding-right: 2.5rem;">SignUp</button>
              <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="/login"class="link-danger">LogIn</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}